# Gradle
.gradle/
build/
out/
bin/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/

# macOS
.DS_Store

# Logs
*.log

# Compiled files
*.class
*.jar
!gradle-wrapper.jar